html{
    z-index: -9999;
}
:root {
    --primary-color: #0b5be0;
    --blue-color: #0b5be0;
    --white-color: #fff;
    --border-radius-items: 12px; 
}

.nav__link {
    color: #222;
    font-weight: 700;
    font-size: 16px;
}

.main-navigation {
    width: 100%;
    display: block;
    position: fixed;
    z-index: 99999;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.05);
    background-color: rgba(255, 255, 255, 0);
}

.bg-white {
    background-color: var(--white-color);
}

.nav__dropdown-icon {
    margin-left: 4px;
}

.dropdown-toggle:hover+.dropdown-menu {
    display: block;
    margin-top: 0;
}

.dropdown-menu:hover {
    display: block;
    margin-top: 0;
}

.dropdown-menu {
    top: 95%;
    padding: 0;
    font-size: 1rem;
    color: #212529;
    border: none;
    box-shadow: 2px 2px 5px 1px rgb(0 0 0 / 5%), -2px 0px 5px 1px rgb(0 0 0 / 5%);
}

.dropdown-menu::before {
    z-index: 999;
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 30%;
    top: -30%;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 12px 20px;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    text-decoration: none;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    border-radius: .25rem
}

.dropdown-item:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
}

/* Banner */
.banner {
    background-color: #F8FAFF;
    padding: 88px 0 130px 0 ;
}
.banner-img{
    padding-top: 70px;
}
.banner-content{
    padding-top: 100px;
    width: 100%;
}
.banner-img img{
    width: 100%;
}

.section-subtitle{
    font-size: 14px;
    padding: 0.5rem 1rem;
    color: #222;
    border-radius: 25px;
    background-color: rgba(121, 110, 255, 0.1);
}
.banner-title{
    font-weight: 700;
    margin-top: 45px;
}
.banner-content p {
    margin-bottom: 40px;
}
.btn{
    font-size: 16px;
    font-weight: 700;
    position: relative;
    text-transform: capitalize;
    padding: 0.85rem 2rem;
    border-radius: 50px;
}
.banner__btn-text{
    font-size: 1.1rem;
    margin-right: 1rem;
}
/* Feature */
.feature{
    margin-top: -70px;
    position: relative;
    
}
.feature-item{
    background-color: var(--white-color);
    overflow: hidden;
    border-radius: var(--border-radius-items);
    box-shadow: 0px 0px 12px 2px rgb(0 0 0 / 2%), -2px 2px 5px 1px rgb(0 0 0 / 2%);
}
.feature-item h4{
    position:relative;
}
.feature-item h4:before {
    position: absolute;
    content: "";
    left: 00%;
    top: 100%;
    background: #0b5be0;
    width: 30px;
    height: 2px;
    transition: all .45s ease;
}
.feature-item::after{
    position: absolute;
    margin-left: -48px;
    content: "";
    width: 16%;
    top: 0 ;
    bottom: 0;
    background: #0b5be0;
    display: none;
}
.feature-item:hover,
.feature-item:hover i{
    transition: 0.6s;
    background: #0b5be0;
    color: var(--white-color)!important;
}

.feature-item:hover h4::before{
    background: var(--white-color);
}
.section{
    padding-bottom : 120px;
    padding-top: 60px;
}
.section-heading{
    margin-bottom: 50px;
}
/* Service */
.service-item{
    padding: 30px;
    width: 100%;
    border: 1px solid rgb(0 0 0 / 3%);
    border-radius: var(--border-radius-items);
    margin-bottom: 15px;
}
.service-item:hover{
    box-shadow: 0px 0px 24px 2px rgb(0 0 0 / 5%), -2px 2px 5px 1px rgb(0 0 0 / 2%);
}
.service-img img{
    width: 85%;
}
/* About */
.about-process{
    margin-right: 30px;
}
.about-process .about-process__number{
    width: 50px;
    height: 50px;
    background: #0b5be0;
    color: #fff;
    border-radius: 100%;
    display: inline-block;
    text-align: center;
    font-weight: 600;
    padding-top: 10px;
}
.contact{
    background-color: var(--primary-color);
    padding: 48px 16px;
}
.contact-info__icon{
    line-height:  2.5rem
}
/* Pricing */
.pricing-item{
    padding: 48px;
    border: 1px solid rgb(0 0 0 / 3%);
    border-radius: var(--border-radius-items);
    box-shadow: 0px 0px 32px 24px rgb(0 0 0 / 1%), -2px 2px 5px 1px rgb(0 0 0 / 2%);
}
.pricing-item:hover{
    border-color: #0b5be0;
}
.pricing-item__price{
    font-size: 4.2rem;
}
.pricing-item__feature-list{
    list-style: none;
    padding: 0; 
    color:rgb(112, 112, 112)
}
.pricing-item__feature-item{
    padding: 5px 0;
    font-size: 1.1rem;
}
.pricing-item__feature-item i{
    margin-right: 8px;
}
.btn-popular{
    background-color: #796eff;
    border-color: #796eff;
    color: var(--white-color)
}
.item-popular{
    position:relative;
}

.item-popular:hover .btn-popular,
.item-popular:hover .item-popular__tag{
    background-color: var(--primary-color)
}
.item-popular__tag{
    position:absolute;
    right: 0px;
    top: 30px;
    background-color: #796eff;
    color:var(--white-color)  ;
    padding: 4px 19px;
    border-radius: 20px 0 0 20px;
    font-weight: 600;
    font-size: 1.1rem;
}

/*  */
.testimonials__item{
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 40px;
    margin-bottom: 40px;
    background-color: var(--white-color);
    border-radius: var(--border-radius-items);
    position:relative;
    z-index: 9;
}
.testimonials__item::after{
    position: absolute;
    content: "";
    width: 80%;
    height: 15%;
    bottom: -40px;
    border-radius: 0 0 var(--border-radius-items) var(--border-radius-items);
    border: 1px solid rgb(0 0 0 / 10%);
    background-color: var(--white-color);
    z-index: 0;
}
.testimonials__item-img{
    width: 80px;
    height: 80px;

}
.testimonials__item-img img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
/* .testimonials__decor{
    z-index: 1;
    position: absolute;
    top: 266px;
    height: 40px;
    width: 80%;
    background-color: var(--white-color);
} */